* {
  margin: 0;
  padding: 0;

}

svg {
  stroke: rgb(172, 148, 69);
  stroke-width: 0.1px;
}

#map {
  fill: darkslateblue;
  height: 100%;
  width: 100%;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #0b6ba3 74%);
}

.plot {
  border: 1px solid grey;
  padding: 5px;
  margin-top: 30px;
}

#main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}